Resources:
  S3Bucket:
    Type: AWS::S3::Bucket
    UpdateReplacePolicy: Delete
    DeletionPolicy: Delete
    Properties:
      BucketName: !Sub bucket-${AWS::AccountId}-${AWS::Region}-sample
      AccessControl: PublicRead
      WebsiteConfiguration:
        IndexDocument: index.html
        ErrorDocument: error.html
    DeletionPolicy: Retain
        ErrorDocument: error.html    
Outputs:
  WebsiteURL:
    Value: !GetAtt [S3Bucket, WebsiteURL]